[submodule "NJU-SE2021-autumn-Lab6/Project/191220120-wengjindhuai"]
	path = NJU-SE2021-autumn-Lab6/Project/191220120-wengjindhuai
	url = https://github.com/longxueyuehuazhan/lab6-filemanagerpro
[submodule "NJU-SE2021-autumn-Lab6/Project/191220120-wengjinshuai"]
	path = NJU-SE2021-autumn-Lab6/Project/191220120-wengjinshuai
	url = https://github.com/longxueyuehuazhan/lab6-filemanagerpro
